.btn-pad {
    margin:2px;
}
.elementPage{
    margin:15px;
    padding:10px;
}

.colonne-center{
    text-align:center;
    vertical-align:middle !important;
}
.taille-parent-100{
    width:100% !important;
}

span.droitCell{
    margin:5px !important;
}
.text_style{
    text-align:center;
    font:Helvetica;
}

.ms-list{
    width:300px !important;
}

.gritter-red{
    background-color: rgba(251,23,23,0.9);
}
.gritter-green{
    background-color: rgba(43,178,15,0.9);
}
